
.circular-chart {
  display: block;
  margin: 10px auto;
  width:90px;
  height:90px;
}


.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}



.circle-bg {
  fill: none;
  stroke: #eee;
/*   stroke: tomato; */
  stroke-width: 3.8;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}