* {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none; }

body {
  font-weight: 400;
  line-height: 1.7; }

/* Backend-Skills */
@keyframes rotate {
  0% {
    transform: rotate(0); }
  6.67%,
  20% {
    transform: rotate(72deg); }
  26.67%,
  40% {
    transform: rotate(144deg); }
  46.67%,
  60% {
    transform: rotate(216deg); }
  66.67%,
  80% {
    transform: rotate(288deg); }
  86.67%,
  100% {
    transform: rotate(360deg); } }

@keyframes rotateRevert {
  0% {
    transform: rotate(360deg); }
  6.67%,
  20% {
    transform: rotate(288deg); }
  26.67%,
  40% {
    transform: rotate(216deg); }
  46.67%,
  60% {
    transform: rotate(144deg); }
  66.67%,
  80% {
    transform: rotate(72deg); }
  86.67%,
  100% {
    transform: rotate(0); } }

@keyframes rotateRevertCenter {
  0% {
    transform: translate(-50%, -50%) rotate(360deg); }
  6.67%,
  20% {
    transform: translate(-50%, -50%) rotate(288deg); }
  26.67%,
  40% {
    transform: translate(-50%, -50%) rotate(216deg); }
  46.67%,
  60% {
    transform: translate(-50%, -50%) rotate(144deg); }
  66.67%,
  80% {
    transform: translate(-50%, -50%) rotate(72deg); }
  86.67%,
  100% {
    transform: translate(-50%, -50%) rotate(0); } }

.u-margin-bottom-super-small {
  margin-bottom: .5rem; }

.u-margin-bottom-small {
  margin-bottom: 1rem; }

.u-margin-bottom-medium {
  margin-bottom: 3rem; }

.u-margin-bottom-big {
  margin-bottom: 5rem; }

.u-margin-bottom-huge {
  margin-bottom: 8rem; }

.additional-skills {
  width: 80%;
  margin: 2rem auto 3rem; }
  .additional-skills__container {
    padding: 1rem 0;
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.15), -1px -3px 2px rgba(0, 0, 0, 0.15);
    border-radius: 3px; }
  .additional-skills__heading {
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1mm;
    display: flex;
    justify-content: center; }
  .additional-skills__heading:hover .additional-skills__text--hidden {
    max-width: 2rem;
    opacity: 1; }
  .additional-skills__text {
    transition: 500ms ease-in-out; }
    .additional-skills__text--hidden {
      max-width: 0;
      opacity: 0; }
  .additional-skills__items p {
    font-size: .8rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0; }
  .additional-skills--img {
    width: 50%; }

.backend-skills {
  position: relative; }
  @media (max-width: 37.5em) {
    .backend-skills {
      margin-bottom: 15rem; } }
  .backend-skills__heading {
    font-size: 2.5rem;
    font-weight: 600; }
  .backend-skills .main__heading--text::after {
    content: "";
    width: 55%;
    height: 3px;
    position: absolute;
    top: 50%;
    right: 5%;
    border-top: 1px solid black; }
    @media (max-width: 75em) {
      .backend-skills .main__heading--text::after {
        width: 45%; } }
    @media (max-width: 56.25em) {
      .backend-skills .main__heading--text::after {
        width: 0; } }
  .backend-skills__list {
    position: relative;
    top: 22%;
    margin: 0 auto;
    padding: 1rem 2rem;
    width: 5rem;
    height: 5rem;
    animation: rotate 15s infinite; }
    @media (max-width: 37.5em) {
      .backend-skills__list {
        top: 26%; } }
  .backend-skills__items {
    position: absolute;
    width: 5rem;
    height: 5rem;
    animation: rotateRevert 15s ease 0s infinite; }
    .backend-skills__items-1 {
      left: 0rem;
      top: -7rem; }
    .backend-skills__items-2 {
      left: -7rem;
      top: -1.5rem; }
    .backend-skills__items-3 {
      left: 7rem;
      top: -1.5rem; }
    .backend-skills__items-4 {
      left: -4rem;
      top: 7rem; }
    .backend-skills__items-5 {
      left: 4rem;
      top: 7rem; }
    .backend-skills__items--img img {
      width: 100%; }
    .backend-skills__items-1 .backend-skills__items--img img {
      width: 90%; }
    .backend-skills__items-2 .backend-skills__items--img img {
      width: 75%; }
    .backend-skills__items-3 .backend-skills__items--img img {
      width: 80%; }
    .backend-skills__items-4 .backend-skills__items--img img {
      width: 80%; }
    .backend-skills__items-5 .backend-skills__items--img img {
      border-radius: 50%; }
  .backend-skills__label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    text-transform: uppercase;
    animation: rotateRevertCenter 15s ease 0s infinite; }

.database-skills {
  width: 80%;
  margin: 1rem auto 1rem; }
  .database-skills__container {
    padding: 1rem 0;
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.15), -1px -3px 2px rgba(0, 0, 0, 0.15);
    border-radius: 3px; }
  .database-skills__heading {
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1mm;
    display: flex;
    justify-content: center; }
  .database-skills__heading:hover .database-skills__text--hidden {
    max-width: 2rem;
    opacity: 1; }
  .database-skills__text {
    transition: 500ms ease-in-out; }
    .database-skills__text--hidden {
      max-width: 0;
      opacity: 0; }
  .database-skills__items p {
    font-size: .8rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0; }
  .database-skills--img {
    width: 50%; }

.education {
  position: relative;
  margin: 0 auto; }
  .education__heading {
    font-size: 3rem;
    font-weight: 600; }
    @media (max-width: 37.5em) {
      .education__heading {
        font-size: 2.3rem; } }
  .education .main__heading--text::after {
    content: "";
    width: 35%;
    height: 3px;
    position: absolute;
    top: 50%;
    right: 15%;
    border-top: 1px solid black; }
    @media (max-width: 75em) {
      .education .main__heading--text::after {
        width: 29%;
        right: 10%; } }
    @media (max-width: 56.25em) {
      .education .main__heading--text::after {
        width: 0; } }
  .education__timeline {
    padding: 0 2rem;
    position: relative; }
    .education__timeline::before {
      content: "";
      position: absolute;
      left: 1rem;
      top: 0;
      height: 100%;
      width: 2px;
      background-color: black; }
  .education__menu--items {
    position: relative; }
    .education__menu--items::before {
      content: "";
      position: absolute;
      left: -1.3rem;
      top: 4%;
      width: .8rem;
      height: .8rem;
      border-radius: 50%;
      background-color: dodgerblue;
      box-shadow: 0 0 0 4px rgba(30, 144, 255, 0.3); }
    .education__menu--items:hover .menu__items--child-menu {
      opacity: 1;
      transform: translateX(0); }
    .education__menu--items .menu__items--title {
      font-size: 1.5rem;
      font-weight: 600;
      color: dodgerblue; }
      @media (max-width: 37.5em) {
        .education__menu--items .menu__items--title {
          font-size: 1.3rem; } }
    .education__menu--items .menu__items--time {
      font-weight: 600;
      line-height: 1.2; }
    .education__menu--items .menu__items--child-menu {
      padding: .5rem;
      padding-left: 1rem;
      opacity: 0;
      transform: translateX(5rem);
      transition: .4s; }
      @media (max-width: 37.5em) {
        .education__menu--items .menu__items--child-menu {
          padding-left: .25rem;
          opacity: 1;
          transform: translateX(0.5rem); } }

.experiences {
  margin: 0 auto; }
  .experiences__heading {
    font-size: 3rem;
    font-weight: 600; }
    @media (max-width: 37.5em) {
      .experiences__heading {
        font-size: 2.3rem; } }
  .experiences .main__heading--text::after {
    content: "";
    width: 35%;
    height: 3px;
    position: absolute;
    top: 50%;
    right: 5%;
    border-top: 1px solid black; }
    @media (max-width: 75em) {
      .experiences .main__heading--text::after {
        width: 25%; } }
    @media (max-width: 56.25em) {
      .experiences .main__heading--text::after {
        width: 0; } }
  .experiences__items {
    margin-bottom: 1rem; }
  .experiences .items__information--heading {
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase; }
  .experiences .items__information--content .content__type span {
    font-weight: bold; }
  .experiences .items__information--content .content__type ol {
    padding-left: 2rem; }
    .experiences .items__information--content .content__type ol li {
      list-style-type: decimal; }

.frontend-skills {
  width: 100%; }
  .frontend-skills__heading {
    font-size: 2.5rem;
    font-weight: 600; }
  .frontend-skills .main__heading {
    margin-bottom: 1rem; }
  .frontend-skills .main__heading--text::after {
    content: "";
    width: 45%;
    height: 3px;
    position: absolute;
    top: 50%;
    right: 15%;
    border-top: 1px solid black; }
    @media (max-width: 75em) {
      .frontend-skills .main__heading--text::after {
        width: 42%;
        right: 10%; } }
    @media (max-width: 56.25em) {
      .frontend-skills .main__heading--text::after {
        width: 0; } }
  .frontend-skills__list {
    padding: 1rem 2rem;
    text-align: center; }
  .frontend-skills__items {
    display: inline-block; }
    .frontend-skills__items span {
      width: 80px;
      height: 80px;
      display: flex !important;
      justify-content: center;
      align-items: center; }
    .frontend-skills__items:not(:first-child) {
      margin-left: 2rem; }
      @media (max-width: 37.5em) {
        .frontend-skills__items:not(:first-child) {
          margin-left: 0rem; } }
  .circular-chart:hover .frontend-skills__image-1 {
    transform: translate(-52%, -65%) scale(1.2); }
  .circular-chart:hover .frontend-skills__image-2 {
    transform: translate(-52%, -65%) scale(1.2); }
  .circular-chart:hover .frontend-skills__image-3 {
    transform: translate(-52%, -65%) scale(1.2); }
  .circular-chart:hover .frontend-skills__image-4 {
    transform: translate(-52%, -65%) scale(1.2); }
  .circular-chart:hover .frontend-skills__image-5 {
    transform: translate(-68%, -76%) scale(1.2); }
  .circular-chart:hover .frontend-skills__image-6 {
    transform: translate(-42%, -53%) scale(1.1); }
  .frontend-skills__image {
    transition: 300ms; }
    .frontend-skills__image-1 {
      transform: translate(-34%, -40%); }
    .frontend-skills__image-2 {
      transform: translate(-34%, -41%); }
    .frontend-skills__image-3 {
      transform: translate(-35%, -41%); }
    .frontend-skills__image-4 {
      transform: translate(-32%, -44%); }
    .frontend-skills__image-5 {
      transform: translate(-50%, -55%); }
    .frontend-skills__image-6 {
      transform: translate(-34%, -42%); }
  .frontend-skills__additional {
    padding: 1rem 3rem;
    display: flex !important;
    justify-content: center;
    align-items: center; }
    .frontend-skills__additional-items {
      display: block; }
      .frontend-skills__additional-items span {
        width: 80px;
        height: 80px;
        display: flex !important;
        justify-content: center;
        align-items: center; }
      .frontend-skills__additional-items > div:nth-child(2) {
        text-align: center; }
    .frontend-skills__additional .c100 {
      margin-right: 0; }
    .frontend-skills__additional-text {
      text-transform: uppercase;
      text-align: center;
      font-weight: 700; }

.circle-1 {
  stroke: #f16524; }

.circle-2 {
  stroke: #2965f1; }

.circle-3 {
  stroke: #fedd24; }

.circle-4 {
  stroke: #ce679a; }

.circle-5 {
  stroke: #563d7c; }

.circle-6 {
  stroke: #00ccff; }

.circle-7 {
  stroke: #0d80db; }

.circle-8 {
  stroke: #2e22b6; }

.programing-language-skills {
  width: 80%;
  margin: 1rem auto 1rem; }
  .programing-language-skills__container {
    padding: 1rem 0;
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.15), -1px -3px 2px rgba(0, 0, 0, 0.15);
    border-radius: 3px; }
  .programing-language-skills__heading {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center; }
  .programing-language-skills__heading:hover .programing-language-skills__text--hidden {
    max-width: 2rem;
    opacity: 1; }
  .programing-language-skills__text {
    transition: 500ms ease-in-out; }
    .programing-language-skills__text--hidden {
      max-width: 0;
      opacity: 0; }
  .programing-language-skills__items p {
    font-size: .8rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0; }
  .programing-language-skills--img {
    width: 50%; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1.1fr 0.9fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1max-content 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1max-content; }

.header {
  grid-area: 1 / 1 / 2 / 13; }

.footer {
  grid-area: 12 / 1 / 13 / 13; }

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1max-content 1max-content 1max-content 1max-content 1max-content 1max-content 1max-content 1max-content;
  grid-area: 2 / 1 / 12 / 13; }

.frontend-skills {
  grid-area: 1 / 1 / 3 / 7; }
  @media (max-width: 37.5em) {
    .frontend-skills {
      grid-area: 1 / 1 / 2 / 13; } }

.backend-skills {
  grid-area: 1 / 7 / 3 / 13; }
  @media (max-width: 37.5em) {
    .backend-skills {
      grid-area: 2 / 1 / 3 / 13; } }

.programing-language-skills {
  grid-area: 3 / 1 / 4 / 7; }

.database-skills {
  grid-area: 3 / 7 / 4 / 13; }

.additional-skills {
  grid-area: 4 / 4 / 5 / 10; }

.education {
  grid-area: 5 / 1 / 9 / 7; }
  @media (max-width: 56.25em) {
    .education {
      grid-area: 5 / 1 / 7 / 13; } }

.experiences {
  grid-area: 5 / 7 / 9 / 13; }
  @media (max-width: 56.25em) {
    .experiences {
      grid-area: 7 / 1 / 9 / 13; } }

.header {
  display: flex;
  flex-direction: row;
  padding: 1rem 5rem;
  background-color: #7860ff;
  color: white; }
  @media (max-width: 56.25em) {
    .header {
      flex-direction: column; } }
  @media (max-width: 37.5em) {
    .header {
      padding: .5rem 1rem; } }
  .header__avatar {
    border-radius: 50%;
    text-align: center; }
    .header__avatar img {
      width: 10rem;
      height: 10rem;
      border: 5px solid darkturquoise;
      border-radius: 50%; }
  .header__about-me {
    flex-basis: 45%;
    display: inline-block;
    margin-left: 2rem;
    text-align: center; }
  .header__contact {
    margin-left: 2rem; }

.about-me__name {
  text-transform: capitalize;
  font-weight: 900;
  font-size: 2rem; }

.about-me__job {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.3rem; }

.about-me__info {
  text-align: left !important; }

.contact__list {
  margin-top: 1rem; }

.contact__items:not(:last-child) {
  margin-bottom: 1rem; }

.contact__icons {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-color: darkturquoise;
  border-radius: 50%; }
  .contact__icons > i {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }

.contact__links {
  margin-left: .75rem;
  color: white; }

.main {
  padding: 1rem; }
  .main__heading {
    width: 100%;
    margin-bottom: 1rem;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-weight: 900; }
    .main__heading--icon {
      font-size: 2rem;
      padding: .5rem;
      border: 2px solid gray;
      border-radius: 50%;
      display: flex !important;
      justify-content: center;
      align-items: center; }
    .main__heading--text {
      width: 100%;
      margin-left: .75rem;
      position: relative;
      text-transform: capitalize; }
