$color-difficulty-1: #2ddc75; // 1 - 25
$color-difficulty-2: #4bab23; // 25 - 35
$color-difficulty-3: #d4da3a; // 36 - 45
$color-difficulty-4: #dd8e17; // 46 - 55
$color-difficulty-5: #db2726; // 56 - 65
$color-difficulty-6: #7c376e; // 66 - 75
$color-difficulty-7: #0d80db; // 76 - 85
$color-difficulty-8: #2e22b6; // 86 - 100