.main{
  padding:1rem;

  &__heading {
    width: 100%;

    @include d-flex-center();

    font-weight: 900;

    &--icon {
      font-size: 2rem;

      padding: .5rem;

      border: 2px solid gray;
      border-radius: 50%;
      @include d-flex-center();
    }

    &--text {
      width: 100%;

      margin-left: .75rem;

      position: relative;

      text-transform: capitalize;

    }
  }
}